<h2>Add New Post</h2>
<p>
	<form action="/new"  method ="post" role="form">
			<div class="form-group">
				<textarea name="content" class="form-control" rows="6" style="width: 800px" placeholder="Type post text here"></textarea>
			</div>
			<div class="form-group">
				Author:
				<textarea name="author" class="form-control" rows="1" style="width: 800px" placeholder="Type name here"></textarea>
			</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>